body{
    background-image: url("https://s-media-cache-ak0.pinimg.com/originals/21/6e/f8/216ef8d3f6a176e6d0d60bd6588af99f.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 700px;
}
h1{
    color: red;
}
button{
    display: inline;
}
a{
    padding: 5px 6px 2px 4px;
    margin: 2px 5px 2px 8px;
    text-decoration: none
}
.show-block{
    position: absolute;
    top: 200px;
    left: 550px;
}